@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-sm md:text-sm bg-gray-50 dark:bg-neutral-950;
  }

  .h1,
  h1 {
    @apply text-xl font-light md:text-4xl;
  }

  .h2,
  h2 {
    @apply text-xl leading-tight font-light md:text-3xl;
  }

  .h3,
  h3 {
    @apply text-base leading-relaxed font-semibold md:text-xl;
  }

  .h4,
  h4 {
    @apply text-xs leading-normal font-semibold md:text-base;
  }

  p {
    @apply text-neutral-800 dark:text-zinc-400 tracking-snug font-normal leading-snug md:leading-normal;
  }

  .bg-zinc-950 {
    background-color:#09090b;
  }

  .bg-neutral-950 {
    background-color: #1b1c1d;
  }

  .bg-transparent {
    background-color: 'transparent';
  }

  .outer span {
    position: relative;
    animation: animation 10s ease infinite 5s;
  }

  .vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .cursor {
    position:fixed;
    width:64px;
    height: 64px;
    border-radius: 50%;
    background: white;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode:difference;
    z-index: 9999; /* Set a higher z-index */
  }

  @keyframes animation {
    0%,100% {
      top: 0;
    }
    20% {
      top: 0%;
    }
    25% {
      top: -8rem;
    }
    45% {
      top: -8rem;
    }

    50% {
      top: -16rem;
    }

    70% {
      top: -16rem;
    }
    75% {
      top: -24rem;
    }
    95% {
      top: -24rem;
    }
  }

  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
  }

  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }

  .animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .animatedFIU {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .animatedFIL {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2s;
  }

  .animatedSID {
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  
  /* In your CSS file */
.custom-blockquote p {
  @apply text-3xl md:text-4xl font-serif italic text-zinc-800 dark:text-zinc-200 leading-relaxed md:leading-normal;
}


}

